html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
